<div class='container-fluid'>
  <div class="row">
    <div class="col-xs-10" style="padding:0px;font-size: 16px; font-weight: bold"> Stats:</div>
  </div>
  <div class="row" style="padding-left:30px">
    <div class="col-xs-2" style="padding:0px;font-size: 16px; font-weight: bold" > Passed:</div>
    <div class="col-xs-10" style="color:green">{{getNumberOfPassedTests(getStory())}}</div>
  </div>
  <div class="row" style="padding-left:30px">
    <div class="col-xs-2" style="padding:0px;font-size: 16px; font-weight: bold" > Failed:</div>
    <div class="col-xs-10" style="color:red">{{getNumberOfFailedTests(getStory())}}</div>
  </div>
  <div class="row" style="padding-left:30px">
    <div class="col-xs-2" style="padding:0px;font-size: 16px; font-weight: bold" > Total Lines:</div>
    <div class="col-xs-10">{{getNumberOfLines(getStory())}}</div>
  </div>
  <br/>
  <br/>


  <div class="row">
    <div class="col-xs-10" style="padding:0px;font-size: 16px; font-weight: bold"> PRETEST LOG:</div>
  </div>

  <div class="row" ng-repeat="l in getStory().log" style="padding-left:30px">
    {{l}}
  </div>
  <br/>
  <br/>

  <div class="row">
    <div class="col-xs-10" style="padding:0px;font-size: 16px; font-weight: bold"> TESTS:</div>
  </div>

  <div ng-repeat="test in getStory().tests" style="padding:0px 30px">
    <div class="container-fluid test" ng-click="goToTest($index)">
      <div class="row">
        <div class="col-xs-2" style="padding:0px;font-size: 16px; font-weight: bold"> Outcome:</div>
        <div class="col-xs-10" style="color:{{test.passed?'Green':'Red'}}">{{test.passed?"PASSED":"FAILED"}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2" style="padding:0px;font-size: 16px; font-weight: bold" > Name:</div>
        <div class="col-xs-10">{{test.title}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2" style="padding:0px;font-size: 16px; font-weight: bold"> Test:</div>

      </div>
      <div class="row" ng-repeat="l in test.lines track by $index">
        <div ng-if="l.content.type == 'RUN'" ng-style="getLineStyle($index,test)">{{l.content.content}}</div>
        <div ng-if="l.content.type == 'LOG'">LOG > {{l.content.content}}</div>

        <div class="ng-row" ng-if="l.consoleBuffer.length != 0">
          <div ng-repeat="c in l.consoleBuffer" style="display:block; padding-left:20px">
            {{c}}
          </div>
        </div>
        <div class="row" ng-if="!l.passed" style="color:red; padding:0px 50px; white-space: wrap">
          {{l.error}}
        </div>
      </div>
    </div>
    <hr ng-if="$index != getStory().tests.length-1"/>


  </div>
</div>
