.menuSelected{
  background-color:rgb(76, 174, 76);
}


.spacing_10{
  height:10px;
  width:100%;
}

.spacing_20{
  height:20px;
  width:100%;
}

.spacing_25{
  height:25px;
  width:100%;
}

.spacing_50{
  height:50px;
  width:100%;
}

.spacing_100{
  height:100px;
  width:100%;
}




.test:hover{
  border:1px solid black;
  cursor:pointer;
}
